<!DOCTYPE html>
<html class="arkaplan" lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Salon 3</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/bootstrap-dropdownhover.min.css">



</head>
<body>

  

         
    <!-- Hakkımızda -->

    <div class="container" style="font-family: arial">
        <br />
        <h3 style="margin-left: 100px;margin-right: 100px">Salon3 Hakkında</h3><hr>
        <p style="margin-left: 100px;margin-right: 100px ;text-align:justify">
            &nbsp; &nbsp; Salon3 filmlerle sinema severleri bileştiren, filmlerin tanıtımını yapan, filmlerin kullanıcılar tarafından 
            ne oranda sevildiğini gösteren "beyaz perde" benzeri bir sitedir. Filmlerin fotoğrafı ve fragman videolarıyla 
            zengin bir içeriğe kavuşturmaya çalıştığımız sitemizde amacımız sinemaya gitmek isteyenler veya herhangi bir filmi
             satın alıp izlemek isteyenler için bir ön fikir verip film tercihi meselesinde yardımcı olmaktır.<br/><br/>
            &nbsp; &nbsp; Projeyi bilgisayar mühendisliği II. öğretim B sınıfından Fırat Ay ve yine bilgisayar mühendisliği II. öğretimC sınıfından 
            Selim HAMZAOĞULLARI olmak üzere iki kişilik grup şeklinde yaptık. Projenin her aşamasını BitBucket'a atarak hem zamanımızı daha 
            verili kullandık hem de bir birimizden bağımsız olarak projeyle ilgilenme olanağı bulduk.
        </p>
        <hr>
        <br>
        <h4 style="text-align: center">Sitede Emeği Geçenler</h4><br>
        <hr>
        <div class="row">
            <div class="col-sm-6 col-md-4" style=" margin-left 100px">
                <div class="thumbnail" style="border : 0px ; ">
                    <img style="max-height: 150px ; max-width: 150px;" class="img-circle" src="~/img/FIRAT AY1.jpg" alt="...">
                    <div class="caption">
                        <h3 style="text-align: center">Fırat Ay</h3>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" style="float: right ; right: 100px">
                <div class="thumbnail" style="border: 0px">
                    <img style="max-height: 150px ; max-width: 150px;" class="img-circle" src="~/img/selim.jpg" alt="...">
                    <div class="caption">
                        <h3 style="text-align: center">Selim Hamzaoğulları</h3>

                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
    <!-- /hakkımızda -->
    <!-- /iletisim -->


 





    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

    <script src="js/js.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap-dropdownhover.min.js"></script>
</body>
</html>